logs
project/project
project/target
target
/.target
bin
tmp
.history
dist
/play.crypto.secret
/.idea
/*.iml
/out
/.idea_modules
*.classpath
.project
/RUNNING_PID
/.settings
/.sbtserver
/study_assets_root/
/database/
.DS_Store
.sbtserver
.sbtserver.lock
play-fork-run.sbt
play-fork-run.sbtold
sbt-ui.sbt
sbt-ui.sbtold
.cache-main
/.cache-tests
org.eclipse.core.resources.prefs
org.scala-ide.sdt.core.prefs
