body {
  background-color: rgb(200, 200, 200);
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

#canvasContainer {
  width: 100%;
}

canvas:nth-child(2) {
  float: right;
}

#glossaryEther {
  margin-left: 10px;
  float: left;
}

#glossaryIp {
  padding: 0px;
  margin: 0px;
  float: right;
}

.glossaryBox {
  width: 30px;
  height: 20px;
  border: 1px solid;
  display: inline-block;
  margin-right: 2px;
}