<!DOCTYPE html>
<html lang="en">
<head>
  <title>EtherVisuWeb</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
  <ul></ul>

<script>
  var socket = new WebSocket(
			((window.location.protocol === "https:") ? "wss://" : "ws://") +
			window.location.host + "/ether");

  socket.onmessage = function (event) {
    var packet = JSON.parse(event.data);
    var packetStr = JSON.stringify(packet, null, 4);
    var colorClass = "color-default";
    if (packet.ipProtocol && packet.ipProtocol == "UDP") {
        colorClass = "color-udp";
    } else if (packet.ipProtocol && packet.ipProtocol == "TCP") {
      colorClass = "color-tcp";
    } else if (packet.ipProtocol && packet.ipProtocol == "IGMP") {
      colorClass = "color-igmp";
    } else if (packet.macType == "ARP") {
      colorClass = "color-arp";
    }

    $('ul').append('<li class="' + colorClass + '"><code><pre>' + packetStr + '</pre></code></li>');
//    window.scrollTo(0, document.body.scrollHeight);
  };
</script>
</body>
</html>
