<!DOCTYPE html>
<html lang="en">
<head>
  <title>EtherVisuWeb</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
  <ul></ul>

  <script>
    /*var socket = new WebSocket(
              ((window.location.protocol === "https:") ? "wss://" : "ws://") +
              window.location.host + "/ether");

    socket.onmessage = function (event) {
      var str = JSON.stringify(JSON.parse(event.data), null, 4);
      $('ul').append("<li><code><pre>" + str + "</pre></code></li>");
    };*/

    function setup() {

    }

    function draw() {
      ellipse(50, 50, 80, 80);
    }
  </script>
</body>
</html>